<div class="container">
  <div class="card-signup text-center">
    <div class="row justify-content-center p-3">
      <h1 id="find-title">Add the languages you want to speak!</h1>
    </div>
    <% if defined?(failures) %>
      <% failures&.each do |failure| %>
        <p>Error for interest: <%= failure.errors.full_messages.to_sentence %></p>
      <% end %>
    <% end %>
    <%= simple_form_for current_user, url: profile_index_path, method: 'post' do |f| %>
      <div class="tag-wrapper">
        <% @my_languages.each do |my_language| %>
          <div class="tag highlight">
            <span>
              <%= my_language.language.name %>
            </span>
            <%= link_to 'X', my_language_path(my_language), method: :delete, class: "white-link"%>
          </div>
        <% end %>
      </div>
        <div class="row justify-content-center" style="display: contents;">
          <%= f.association :languages, value_method: :name, label_method: :name, input_html: { class: 'select2 form-large' }  %>
        </div>
          <div class="row justify-content-center pt-4">
            <%= f.submit "Save this", class: 'btn-chatwith white-txt highlight' %>
          </div>
      </div>
    <% end %>
    <div class="container">
      <div class="card-signup text-center">
        <div class="row justify-content-center p-3">
          <h1 id="find-title">Add your interests</h1>
        </div>
        <div class="">
          <%= simple_form_for current_user, url: profile_index_path, method: 'post' do |f| %>
          <div class="tag-wrapper">
            <% @my_interests.each do |my_interest| %>
              <div class="tag highlight">
                <span>
                  <%= my_interest.interest.name %>
                </span>
                <%= link_to 'X', my_interest_path(my_interest), method: :delete, class: "white-link" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="row justify-content-center" style="display: contents;">
          <%= f.association :interests, value_method: :name, label_method: :name, input_html: { class: 'select2' }  %>
          <div class="row justify-content-center pt-4">
            <%= f.submit "Save this", class: 'btn-chatwith white-txt highlight' %>
          </div>
    <% end %>
    </div>
  </div>
</div>
